*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
IconKitchen-Output
Screenshot (13).png
919858.png
IconKitchen-Output.zip
Screenshot (12).png
Screenshot (12)n.png
Screenshot (14).png
WhatsApp Image 2023-11-27 at 12.59.15_f41a2211.jpg
add_contact.png
call_image.png
checklist.png
filter(1).png
filter.png
filter2.png
ic_shortcut_checklist-fotor-20231123193030.png
ic_shortcut_checklist.zip
ic_shortcut_close.zip
ic_shortcut_filter1.zip
ic_shortcut_notes.zip
replay_pid10492.log
